<nav class="navbar">
  <div class="nav-container">
    <!-- Logo -->
    <div class="nav-logo" routerLink="/">
      <span class="brand">Skill<span class="highlight">Sphere</span></span>
    </div>

    <!-- Navigation Links -->
    <ul class="nav-links">
      <li><a routerLink="/featured">Courses</a></li>

      <li *ngIf="isAuthenticated && isAdmin"><a routerLink="/users">Users</a></li>

      <li *ngIf="!isAuthenticated" class="auth-buttons">
        <button class="btn btn-outline" routerLink="/login">Login</button>
        <button class="btn btn-success" routerLink="/signup">Sign Up</button>
      </li>

      <li *ngIf="isAuthenticated" class="user-section">
        <div class="user-avatar" [matMenuTriggerFor]="menu">
          {{ userInitials }}
        </div>

        <mat-menu #menu="matMenu">
          <button mat-menu-item class="custom-btn" [routerLink]="'/profile'">
            <mat-icon>person</mat-icon>
            <span>Profile</span>
          </button>

          <button mat-menu-item class="custom-btn" [routerLink]="'/certificates'">
            <mat-icon>school</mat-icon>
            <span>Certificates</span>
          </button>

          <button mat-menu-item class="custom-btn" [routerLink]="'/courses'">
            <mat-icon>menu_book</mat-icon>
            <span>My Courses</span>
          </button>

          <button mat-menu-item class="custom-btn" [routerLink]="'/tests'">
            <mat-icon>assignment</mat-icon>
            <span>My Tests</span>
          </button>

          <button mat-menu-item class="custom-btn" (click)="logout()">
            <mat-icon>logout</mat-icon>
            <span>Logout</span>
          </button>
        </mat-menu>
      </li>
    </ul>

    <!-- Mobile Menu Toggle Don't change -->
    <div class="nav-toggle" id="nav-toggle" (click)="toggleMobileMenu()">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</nav>